.problem-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.problem-modal.show {
    display: flex;
    /* Show when clicked */
}

.problem-modal-content {
    background: #fff;
    width: 500px;
    max-width: 95%;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    animation: scaleIn 0.25s ease;
}

.close-btn {
    background: none;
    border: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
